<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>IES Doctor Balmis</title>
  </head>

  <body>
   <div th:fragment="cabecera">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center h-100">      
          <div style="text-align: left;" class="col-md-8 col-lg-6 col-xl-2">
            <img id="logotipo" src="/img/Logo_IES.png" class="img-fluid" alt="Logo_IES" />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-8">
            <div class="jumbotron">
              <p>IES Doctor Balmis</p>
            </div>
          </div>
          <div style="text-align: right;" class="col-md-8 col-lg-6 col-xl-2">
            <img src="/img/Logo_GVA.png" class="img-fluid" alt="Logo_IES" />
          </div>
        </div>
      </div>
    <!--
    <table width="100%" border="0">
      <tr>
        <td width="20%"><img src="/img/Logo_IES.png" width="100%" /></td>
        <td width="80%" align="center"><p><b><font size="7">Gestión de alumnos, grupos y tutores</font></b></p></td>
      </tr>
    </table>  
    -->
   </div>
  </body>
</html>
