<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/header::head"></head>

<body>
	<div th:replace="layouts/cabecera::cabecera"></div>
	<nav th:replace="layouts/menu::menu(alumnos)"></nav>
	          
    <div class="container">
		<div class="card border-info">
			<div class="card-header bg-info text-white">
				<table width="100%" border="0">
					<tr>
						<td width="70%">
							<h2>Listado de alumnos</h2>
						</td>
						<td width="20%">
						<form class="float-end d-flex gap-2">
								<input type="text" class="form-control" placeholder="Buscar..." name="q" th:value="${param.q}">
							</form>									
						</td>
						<td width="10%" align="right"><a th:href="@{/app/alumno/new}" class="btn btn btn-success">Nuevo alumno</a></td>
					</tr>
				</table>
			</div> <!-- card-header -->
			<div class="card-body">
				<div style="height:600px; overflow-y: auto;">
			      <table class="table">
 			      	<thead>
			      		<tr>
			        		<th><h3>Avatar</h3></th>
			      			<th><h3>Nombre</h3></th>
			      			<th><h3>Apellidos</h3></th>
			      			<th><h3>Email</h3></th>
			      			<th><h3>Grupo</h3></th>
			      			<th><h3>Operaciones</h3></th>
			      		</tr>
			      	</thead>
			      	<tbody>
			      		<tr th:each="alumno : ${listaAlumnos}">
			        		<td><img th:src="@{${alumno.imagen} ?: 'https://placehold.co/64'}" height="64px" /></td>
			      			<td th:text="${alumno.nombre}">Nombre</td>
			      			<td th:text="${alumno.apellidos}">Apellidos</td>
			      			<td th:text="${alumno.email}">Email</td>
			      			<td th:text="${alumno.grupo}">Grupo</td>
			      			<td><a th:href="@{/app/alumno/edit/{id}(id=${alumno.id})}" class="btn btn btn-primary">Editar alumno</a>&nbsp;&nbsp;&nbsp;
			      				<a th:href="@{/app/alumno/del/{id}(id=${alumno.id})}" class="btn btn btn-danger">Borrar alumno</a></td>
			      		</tr>
			      	</tbody>
			      </table>
			    </div> 
			</div> <!-- card-body -->
		</div> <!-- card border-info -->
    </div><!-- container --> 
	<div th:replace="layouts/footer::footer"></div>
  </body>
</html>
